body {
    overflow: hidden;
}

header {
    width: 100%;
    height: 5rem;
}

.header-box {
    margin: auto;
    width: 70%;
    height: 100%;
}

.header-box img {
    margin-top: 1.5rem;
    width: 10rem;
}

.header-box .right-box {
    font-size: 1.25rem;
    height: 100%;
    color: #fff;
    cursor: pointer;
    float: right;
    width: 35rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-box .right-box .active {
    border-bottom: 2px solid #fff;
}

.header-box .right-box a {
    position: relative;
    font-weight: 500;
}

.header-box .right-box a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
    transform-origin: left;
}

.header-box .right-box a:hover::after {
    width: 100%;
    transition: width 0.2s ease-in-out;
}